.btm-icon-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 22px;
}
.btm-icon-text:hover{
    cursor: pointer;
}
.btm-icon-text p{
    padding: 0;
    margin: 0;
    font-size: 10px;
}
.bottombar-active{
    color: rgb(56, 56, 255);
}